body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Arial, sans-serif;
    height: 100vh;
    justify-content: space-between; /* Memastikan tombol di bagian bawah */
}

.circle-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
}

.circle-button:hover {
    background-color: #45a049;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Membuat grid dengan ukuran tetap */
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    max-width: 800px;
    justify-items: center;
    overflow-y: auto;
}

.gallery img {
    width: 100%; /* Gambar mengikuti lebar grid */
    height: 150px; /* Tinggi tetap untuk gambar */
    object-fit: cover; /* Menjaga gambar agar tetap proporsional dan terpotong jika perlu */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer; /* Menunjukkan gambar bisa diklik */
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Latar belakang semi-transparan */
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox-content {
    width: 800px; /* Lebar gambar di lightbox */
    height: 600px; /* Tinggi gambar di lightbox */
    object-fit: contain; /* Menjaga gambar proporsional tanpa distorsi */
    margin: auto;
}

@keyframes ubahWarna {
  0% { color: rgb(255,0,0);
  }
  25% { color; rgb(0,255,0);
  }
  50% { color: rgb(0,0,255);
  }
  75% { color: rgb(255,255,0);
  }
  100% { color: rgb(255,0,255);
  }
}

.gg{
  font-size: 20px;
  font-family: 'Press Start 2P', cursive;
  animation: ubahWarna 5s infinite;
  border: 3px solid black;
  box-shadow: 0 4px 6px rgb(40,40,40) ;
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}